<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IBInspectable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MyCustomView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5BFA4E21B314C220056DCCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5BFA4F71B314C220056DCCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5BFA50C1B314C5E0056DCCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5BFA5161B314C5E0056DCCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
